[core]
        excludesfile = /home/tim/.gitignore_global
[credential]
        helper = store
[user]
        name = ...
        email = ...
[commit]
        template = /home/tim/.git-commit-message
        gpgsign = true
